body {
	background: olive;
	text-align: center;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	background: #fff;
	padding-bottom: 30%;
}
h1 {
  color: #810000;
  font-size: 70px;
	display: inline-block;
}
h1:hover {
	color: olive;
	cursor: pointer;
}
a, a:visited, a:active {color: inherit;}
a:hover {color: inherit;}